transformers
torch
bitsandbytes
flamingo_pytorch
pillow
accelerate
datasets
rich
tensorboard
wandb
boto3
lion-pytorch
fairscale
aiohttp>=3.10.11 # not directly required, pinned by Snyk to avoid a vulnerability
