transformers
torch
bitsandbytes
flamingo_pytorch
pillow
accelerate
datasets
rich
tensorboard
wandb
boto3
lion-pytorch
fairscale
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
