transformers
torch
bitsandbytes
flamingo_pytorch
pillow
accelerate
datasets
rich
tensorboard
wandb
boto3
lion-pytorch
fairscale
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
